/* Содержимое:
--------------------------
	- Общие стили
	- Фон ArchiCredit
	- Логин
*/


/* Общие стили
-------------------------------*/
body {
	background: #F5F5F5;
	overflow: hidden;
	/*
	*/
	font-family: Arial, sans-serif;
}
input, button, select, textarea {
	font-family: Arial, sans-serif;
}
select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
.btn:focus,
a:focus {
	outline: 0;
}
.ac-box {
	padding: 25px 30px;
	background: #fff;
	border-bottom: 4px solid #e7e7e7;
	border-radius: 10px;
	box-shadow: 0 0 3px rgba(0,0,0,0.35);
}
#error-box {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 350px;
}


/* Фон ArchiCredit
----------------------------*/
.ac-bg,
.ac-bg body {
	height: 100%;
	background-color: #96cfeb;
	/*
	background: url('../img/bg-part-center.png') no-repeat 50% 50%,
				url('../img/bg-part-top.png') repeat-x 0 0,
				url('../img/bg-part-bottom.png') repeat-x 0 100%;
	*/
}
.ac-bg .ac-bg-wrap {
	height: 100%;
	min-height: 100%;
	background: url('../img/bg-part-center.png') no-repeat 50% 50%,
				url('../img/bg-part-top.png') repeat-x 0 0;
}
.ac-bg .ac-bg-wrap .ac-bg-clip {
	overflow: auto;
	/*padding-bottom: 153px;*/
}
.ac-bg .ac-bg-bottom {
	margin-top: -153px;
	height: 153px;
	clear: both;
	background: url('../img/bg-part-bottom.png') repeat-x 0 100%;
}
body:before {/* thanks to Maleika (Kohoutec)*/
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}


/* Логин
-------------------------------------*/
#login-page .ac-bg-clip {
	padding: 0;
	height: 100%;
	min-height: 100%;
	background: url('../img/bg-part-bottom.png') repeat-x 0 100%;
}
#login-page .ac-bg-bottom {
	display: none;
}
#login-page table {
	width: 100%;
	height: 100%;
}
#login-page td {
	vertical-align: middle;
}
#login-box-wrapper {
	width: 341px;
	margin: 0 auto;
	position: relative;
}
#login-box {
	width: 221px;
	padding: 25px 60px;
}
#login-box h2 {
	text-align: center;
}
#login-page #logo {
	margin-bottom: 15px;
}
#login-form-submit {
	margin-top: 15px;
	padding: 9px 25px;
}
#login-box-overlay {
	display: none;
	background: rgba(255,255,255,.6);
	width: 301px;
	height: 90%;
	border: 0px solid red;
	position: absolute;
	top: 5%;
	left: 20px;
}


/* Панель навигации
------------------------------------*/
#navbar {
	color: #444;
}
#navbar .nav > li > a {
  color: #444;
}
#navbar .nav > .active > a, 
#navbar .nav > .active > a:hover, 
#navbar .nav > .active > a:focus {
  color: #333;
}
#navbar .brand img {
	position: relative;
	bottom: 3px;
	opacity: 1;
	-webkit-transition: opacity .15s linear;
	-moz-transition: opacity .15s linear;
	-ms-transition: opacity .15s linear;
	-o-transition: opacity .15s linear;
	transition: opacity .15s linear;
}
#navbar .brand:hover img {
	opacity: .7;
}
#navbar.navbar-static-top {
	margin-bottom: 10px;
}
#navbar.navbar-static-top .navbar-inner {
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
	border: 0;
}
#navbar .dropdown .dropdown-toggle.with-notice {
	position: relative;
}
#navbar .dropdown .dropdown-toggle.with-notice .notice {
	/*position: absolute;
	bottom: -7px;
	right: 6px;*/
	box-shadow: 0 0 5px #3A87AD;
	margin-left: 3px;
}
#navbar .dropdown.open .dropdown-toggle .caret {
	border-top: 0;
	border-bottom: 4px solid #777;
}
#navbar .dropdown-menu a {
	position: relative;
}
#navbar .dropdown-menu .with-badge a {
	padding-right: 45px;
}
#navbar .dropdown-menu a .badge {
	position: absolute;
	top: 5px;
	right: 15px;
}


/* Основной контейнер
---------------------------------*/
#main-box {
	padding: 15px;
	margin-bottom: 5px;
	position: relative;
}
#page-title {
	margin-top: 0;
	color: #444;
	text-shadow: 0 0 8px rgba(255,255,255,.8)
}

/* Основной тулбар
---------------------------------*/
.ac-toolbar {
	margin-top: 0;
	margin-bottom: 15px;
}
.ac-toolbar .btn-group + .btn-group {
	margin-left: 12px;
}
.ac-toolbar .toolbar-pager-info {
	color: #333;
}
.ac-toolbar .btn-group > .btn,
.ac-toolbar .btn-group > .dropdown-menu {
    font-size: 11px;
}
.ac-toolbar .pager-info.btn-group > .btn,
.ac-toolbar .pager-info.btn-group > .dropdown-menu {
	font-size: 14px;
}
.ac-toolbar .btn i {
	margin-top: 0;
}
#toolbar-bottom {
	margin-top: 15px;
	margin-bottom: 0;
}
.dropdown-menu.bottom-up {
	top: auto;
	bottom: 100%;
}


/* Фильтр
----------------------------*/
#filterAccordion {	
	margin-bottom: 0;
}
#filterAccordion .accordion-group {
	border: 0;
	margin: 0;
}
#filterAccordion .accordion-group .accordion-body .accordion-inner {
	background-color: #f9f9f9;
	border: 1px solid #E5E5E5;
    border-radius: 4px;
}
#filterAccordion .accordion-group .accordion-body.in .accordion-inner {
	margin-bottom: 15px;
}
#filterAccordion .accordion-group .accordion-body .accordion-inner h4 {
	margin-top: 0;
	display: none;
}
#filterAccordion label {
	font-size: 11px;
	padding-top: 2px;
}
#filterAccordion input,
#filterAccordion select {
	font-size: 11px;
}
#filterAccordion input[type="text"],
#filterAccordion select {
	height: 26px;
	min-height: 26px;
}
#filterAccordion .form-horizontal {
	margin: 0;
	margin-top: 5px;
	margin-bottom: -5px;
}
#filterAccordion .form-horizontal .control-group {
	margin-bottom: 10px;
}
#filterAccordion .form-horizontal .control-label {
	width: 150px;
}
#filterAccordion .form-horizontal .row-fluid .col1 .control-label {
	width: 125px;
}
#filterAccordion .form-horizontal .row-fluid .col1 .controls {
	margin-left: 135px;
}
#filterAccordion .form-horizontal .controls {
	margin-left: 160px;
}
#filterAccordion .form-horizontal .row-fluid .col1 {
	margin-left: -35px;
}
#filterAccordion .form-horizontal .row-fluid .col2 {
	position: relative;
	width: 35%;
}
#filterAccordion .form-horizontal .row-fluid .col3 {
	margin-left: -60px;
	width: 36.2%;
}
#filter-toggle.active .caret {
	border-top: 0;
	border-bottom: 4px solid #000;
}


/* Основная таблица
----------------------------------------*/
#table-wrapper {
	position: relative;
	overflow: auto;
}
#table-wrapper.well {
	padding: 10px;
}
#table {
	margin: 0;
	border-collapse: separate;
}
#table thead {
	/*position: absolute;
	top: 0;
	left: 0;*/
}
#table thead:first-child tr:first-child th:first-child {
  border-top-left-radius: 4px;
}
#table thead:first-child tr:first-child th:last-child {
  border-top-right-radius: 4px;
}
#table th {
	background-color: #555;
	background-image: url('../img/sorting.png');
	background-repeat: no-repeat;
	background-position: right center;
	/*background-image: linear-gradient(to bottom, #0088CC, #0077B3);
	background-repeat: repeat-x;*/
	color: #f5f5f5;
	padding: 6px 14px 6px 7px;
	white-space: nowrap;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	font-size: 11px;
	line-height: 13px;
	border: 0 !important;
}
#table th.sorting_asc {
	background-image: url('../img/sorting-asc.png');
	background-repeat: no-repeat;
	background-position: right center;
}
#table th.sorting_desc {
	background-image: url('../img/sorting-desc.png');
	background-repeat: no-repeat;
	background-position: right center;
}
#table th:hover {
	background-color: #444;
}
#table th .caret {
	margin-top: 4px;
	border-top-color: #f5f5f5;
}
#table th.sort {
	background-color: #444;
}
#table tbody tr td:first-child {
	border-left: 1px solid #ddd;
}
#table tbody tr td:last-child {
	border-right: 1px solid #ddd;
}
#table tbody tr:last-child td {
	border-bottom: 1px solid #ddd;
}
#table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 4px;
}
#table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 4px;
}
#table td {
	font-size: 11px;
	line-height: 15px;
	padding: 6px 7px;
	vertical-align: middle;
}


/* DataTables
---------------------------------------------------*/
table.dataTable tr.odd td.sorting_1 { background-color: #E1F0F7; }
table.dataTable tr.even td.sorting_1 { background-color: #EFF9FF; }
